body {
	background-color: #fcb155;
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
}

.title-container{
	background-color: #ed872f;
	height: 60px;
	margin-bottom: 10px;
}

.image{
	height: 100%;
	display: inline;
	float: left;
}
#bungalow{
	width: 50px;
	height: 50px;
	
}

.title{
	max-width: 30%;
	text-align: center;
	display: inline;
	float: center;
	
}
.title h1 {
	font-size: 40px;
	padding-top:5px;
}



.menu {
	width: 90%;
	height: 8%;
	align: center;
	font-size: 24px;
	background-color: #e50202;
	text-align: center;
	margin: 10px;
	<!--border: 5px solid #ed872f;-->
}
.menu a{
	text-decoration: none;
	color: black;
	width: 100%;
}
.left-container{
	position: absolute;
	width: 30%;
	background-color: #ed872f;
	height: 450px;
	float: left;
	
	
}
.main-container{

	display: inline;
	margin-left: 35%;

}
.main-container h1 {
	margin-left: 35%;
	display: inline;
	
}

.bungalow-images{
	margin-left: 35%;
	display: none;
}
.bungalow-titles{
	margin-left: 35%;
	
}
.bungalow-images img{
	width: 30%;
}

footer{
	display: block;
	background-color: #ed872f;
	position: absolute;
	bottom: 0;
	width: 98%;
	height: 30px;
}

footer div{
	font-size: 24px;
	margin-bottom: 5px;
	display: inline;
	margin-right: 20%;
	bottom: 0;
	
}
footer .footer-images{
	height: 30px;
	display: inline;
}

footer .footer-images img{
	width: 30px;
	height: 30px;
}
