@CHARSET "ISO-8859-1";

.message {
    display: none;
}

body {
	background-color: #fcb155;
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
}

.title-container{
	background-color: #ed872f;
	height: 60px;
	margin-bottom: 10px;
}

.image{
	height: 100%;
	display: inline;
	float: left;
}
#bungalow{
	width: 50px;
	height: 50px;
	
}

.title{
	max-width: 30%;
	text-align: center;
	display: inline;
	float: center;
	
}
.title h1 {
	font-size: 40px;
	padding-top:5px;
}

#reservation-list-template{
	align: center;
	margin: 50px;
}











footer{
	display: block;
	background-color: #ed872f;
	position: absolute;
	bottom: 0;
	width: 98%;
	height: 30px;
}

footer div{
	font-size: 24px;
	margin-bottom: 5px;
	display: inline;
	margin-right: 20%;
	bottom: 0;
	
}
footer .footer-images{
	height: 30px;
	display: inline;
}

footer .footer-images img{
	width: 30px;
	height: 30px;
}