<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reservations</title>
  <link rel="stylesheet" type="text/css" href="/css/reservation-list.css" />
  <link
	href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700'
	rel='stylesheet'/>
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700'
	rel='stylesheet'/>
</head>
<body>
	<div class="title-container">
		<div class="image">
			<a href="/index.html">
			<img
				src='http://icons.iconarchive.com/icons/icons8/ios7/512/Household-Bungalow-icon.png'
				id=bungalow />
			</a>
		</div>
		<div class="title">
			<h1>Holiday Resort</h1>
		</div>
	</div>
	
  <div id="system-error" class="message">We are sorry, retrieving the list of reservations failed - please try again later.</div></h2>
  <div id="action-error" class="message">We are sorry, we were unable to execute your action - please try again later.</div></h2>

  <div id="reservation-list">
    <!-- the content will be placed here -->
  </div>    

  <script id="reservation-list-template" type="text/x-handlebars-template">  
    <table>
      <caption>List of reservations</caption>
      <thead>
        <tr>
          <th>Reservation ID</th>
          <th>Facility ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Reserved by</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
    {{#each content}}  
        <tr>                    
          <td>{{id}}</td>
          <td>{{resourceId}}</td>
          <td>{{startDate}}</td>            
          <td>{{endDate}}</td> 
          <td>{{owner}}</td> 
          <td><a href="#" class="action" reservationId="{{id}}">Cancel</a>           
        </tr>
    {{/each}}
      </tbody>
    </table>
  </script>
  
  <footer>
		<div>Contact</div>
		<div>FAQ</div>
		<div>Terms</div>
		<div class='footer-images'><img src='http://www.silvabeats.com/wp-content/uploads/2016/10/instagram-Logo-PNG-Transparent-Background-download-300x300.png' />
			<img src='http://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19759.png' />
		</div>
	</footer>
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="js/lib/handlebars-v3.0.0.js"></script>
  <script src="js/reservation-list.js"></script>

</body>
</html>